body,
p {
  font-family: 'Work Sans', sans-serif;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

/* header */
/* mainmenu */
.mainmenu {
  padding-top: 12px;
}

.logo img {
  width: 80px;
  height: 80px;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  padding-left: 2rem;
  color: #5a6e79;
}

.nav ul li a {
  text-decoration: none;
  color: #5a6e79;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  transition: all .3s ease;
}

.nav ul li:last-child a {
  background-color: #ffffff;
  padding: 12px 20px;
  border-radius: 50px;
  color: #ffc178;
  box-shadow: 0px 0px 122px .5px #5a6e79;
}

.nav ul li a:hover {
  font-weight: bold;
  color: #ffc178;
}

/* hero section */
.hero-section {
  margin-top: 100px;
}

.hero-bg {
  background-image: url(./img/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero-content h1 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #FFC178;
}

.hero-content p {
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
}

.hero-btn {
  background-color: #FFC178;
  padding: 12px 24px;
  border-radius: 50px;
  color: #ffffff;
  margin-top: 12px;
  display: inline-block;
  text-decoration: none;
}

/* dept section */
.dept-section {
  margin-top: -15px;
}

.section-title h2 {
  font-size: 40px;
  color: #252C3A;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
}

.section-title p {
  color: #5a6e79;
}

.dept-card {
  width: 360px;
  height: 425px;
  background-color: #F9703A;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.green-card {
  background-color: #80BE41;
}

.yellow-card {
  background-color: #FFB258;
}

.dept-card h4 {
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}

/* intro section */
.intro-section {
  margin-top: 75px;
}

.iframe-intro {
  border-radius: 50%;
  background-color: white;
  padding: 8px;
  border: 8px solid #FDF6EE;
}

.intro-content h2 {
  font-size: 40px;
  color: #252c3a;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.intro-content p {
  font-size: 18px;
  color: #5a6e79;
  margin-top: 30px;
}

.students p,
.courses p,
.video p {
  color: #FFBA00;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.learning-info .number {
  font-size: 40px;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.courses p {
  color: #FF5F72;
}

.video p {
  color: #43CB83;
}

.learning-info {
  margin-top: 50px;
}